body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: Audiowide, sans-serif;
}

#chatlog {
  width: 500px;
}

.message {
  position: absolute;
  border: 2px solid grey;
  border-radius: 6px;
  background: -webkit-linear-gradient(top, #fff 0%, #E0EEEE 100%);
  font-family: Audiowide, helvetica;
  margin: 5px 0 5px 0;
  padding: 3px;
  width: 500px;
  /*transform: perspective( 600px) rotateY(45deg);
  -webkit-transform: perspective( 600px) rotateY(45deg);*/
}

.msg {
  font-family: Aldrich;
  font-size: 12px;
  height: 30px;
}

.room {
  font-size: 10px;
  font-weight: bold;
  height: 15px;
}

.user {
 color: grey;
 font-size: 14px;
 font-weight: bold;
 height: 18px;
}

.time {
  font-size: 10px;
  height: 15px;
}

.msgInput {
    width: 150px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
